@font-face {
	font-family: "SentyZHAO";
	src: url("./SentyZHAO.otf");
}
body {
	font-family: SentyZHAO;
	font-size: 25px;
	line-height: 1.6em;
	background-color: #a7cece;
	padding: 250px;
}
h1 {
	color: gray;
	text-decoration: underline;
	font-size: 150%;
}
h2 {
	color: #007e7e;
	font-size: 130%;
}